body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#brand a{
  color: white;
  align-items: center;
  display: flex;
}

#brand a:link{
  text-decoration: none;
}

#brand a:visited{
  text-decoration: none;
}

#brand a img {
  padding: 10px;
  object-fit: contain;
}

#search_bar {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 15px;
}

input[type="search"] {
  width: 100%;
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

button[type="submit"] {
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

#user_opt a {
  
  
}

#user_opt a img{
  align-self: center;
  object-fit: contain;
}

h1 {
  margin: 5px;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}